[submodule "libs/cwist"]
	path = libs/cwist
	url = https://github.com/religiya-serdtsa/cwist
[submodule "libs/libttak"]
	path = libs/libttak
	url = https://github.com/religiya-serdtsa/libttak
[submodule "libs/secp256k1"]
	path = libs/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "libs/keccak"]
	path = libs/keccak
	url = https://github.com/brainhub/SHA3IUF.git
[submodule "libs/portal-tunnel"]
	path = libs/portal-tunnel
	url = https://github.com/gosuda/portal-tunnel
